:root {
    --dash-menu-bg: #161925;
    --dash-menu-bg-hover: black;
}

.hidden {
    display: none !important;
}

.dashboard {
    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;

    overflow: hidden;
}

.dashboard-header {
    width: 85vw;
    height: 5vh;

    display: flex;
    flex-direction: row;

    border: 1px solid black;
}

.dashboard-header-bell {
    width: 5vw;

    position: sticky;
    left: 89%;

    padding: 10px;

    border: 1px solid red;

    display: flex;

    align-items: center;
    justify-content: center;
}

.dashboard-header-logout {
    width: 5vw;

    position: sticky;
    left: 95%;

    padding: 10px;

    border: 1px solid red;

    display: flex;

    align-items: center;
    justify-content: center;
}

.dashboard-body {
    width: 85vw;
    height: 100vh;

    margin: 0;
    padding: 0;

    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.dashboard-menu {
    width: 15vw;
    height: 100vh;

    display: flex;

    flex-direction: column;

    background: var(--dash-menu-bg);
    color: white;
}

.dashboard-menu-title {
    width: 15vw;
    height: 10vh;

    padding: 10px;

    display: flex;

    align-items: center;
    justify-content: center;

    border-bottom: 1px solid black;
}

.dashboard-menu-item {
    height: 5vh;

    display: flex;

    align-items: center;
    justify-content: center;
}

.dashboard-menu-item:hover {
    background: var(--dash-menu-bg-hover);
}

.dashboard-view {
    width: 85vw;
    height: 95vh;

    border: 1px solid purple;
}
